:root {
  --color-bg-0: #eeeeee;
  --color-bg-1: #222222;
  --color-fg-0: #222222;
  --color-fg-1: #eeeeee;
}
@font-face {
  font-family: alice;
  src: url("../fonts/alice.ttf");
}
::selection {
  background: var(--color-bg-1);
}
::-moz-selection {
  background: var(--color-bg-1);
}
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner, ::-webkit-resizer {
  background-color: var(--color-bg-0);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-1);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-1);
}

body, html {
  background-color: var(--color-bg-0);
  color: var(--color-fg-0);
  font-family: alice, serif;
  font-size: calc(0.6vw + 0.6vh);
  margin: 0;
  padding: 0;
}
a, a:visited, a:active {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
  color: var(--color-fg-1);
}
.lightbox:target {
  display: block;
}
.lightbox a: hover {
  background-color: var(--color-bg-1);
}
.lightbox-void {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.lightbox-void img {
  max-width: 85vw;
  max-height: 85vh;
}
.lightbox-left, .lightbox-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20vw;
  height: 100%;
  opacity: 0.5;
}
.lightbox-left {
  top: 0;
  left: 0;
}
.lightbox-right {
  bottom: 0;
  right: 0;
}
.lightbox-left:hover, .lightbox-right:hover {
  animation: fadeInHalf 1s;
  opacity: 1;
}
.lightbox .icon {
  opacity: 0.5;
  max-height: 10vh;
}

.grid {
  display: grid;
  height: 90vh;
  grid-gap: 1vh;
  justify-content: center;
  grid: repeat(5, 1fr) / repeat(5, 1fr);
  margin: 5vh 5vw 5vh 5vw;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  color: var(--color-fg-1);
  text-shadow: 2px 2px var(--color-fg-0);
  overflow: hidden;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  font-size: 2.5em;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.grid-item.opaque {
  opacity: 1;
}
.grid-item.small {
  grid-row: span 1;
  grid-column: span 1;
}
.grid-item.medium {
  grid-row: span 2;
  grid-column: span 2;
}
.grid-item.large {
  grid-row: span 3;
  grid-column: span 3;
}
.grid-item.tall {
  grid-row: span 2;
  grid-column: span 1;
}
.grid-item.wide {
  grid-row: span 1;
  grid-column: span 2;
}
.grid-item.coding {
  background-image: url(../photos/coding.jpg);
}
.grid-item.photography {
  background-image: url(../photos/photography.jpg);
}
.grid-item.writing {
  background-image: url(../photos/writing.jpg);
}
.grid-item.retro {
  background-image: url(../photos/retro.jpg);
}
.grid-item.thoughts {
  background-image: url(../photos/thoughts.jpg);
}
.grid-item.contact {
  background-image: url(../photos/contact.jpg);
}
.grid-item.plain {
  color: var(--color-fg-0);
  text-shadow: 0px 0px;
}

.grid-item:active {
  opacity: 1;
}
.grid-item:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
